@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #aaa;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0c0b08;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам, содержащим *__container 
Например, header__container, main__container и т.п. 
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

.button {
  color: #0c0b08;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.64px;
  background-color: #dcca87;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.no-webp .main-bg{
  background: url("../img/main-bg.jpg") 0 0 no-repeat; }

.main-bg {
  position: fixed;
  width: 100%;
  height: 120%;
  top: -10%;
  left: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.body-main-slider__pagination,
.header__logo,
.scroll,
.block-header,
.button {
  font-family: "Cormorant Upright";
}

.block-header {
  text-transform: capitalize;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 8px;
}

.block-header__label {
  color: #fff;
  letter-spacing: 0.92px;
  line-height: 1.3;
  position: relative;
}

.block-header__icon {
  fill: #dcca87;
  width: 40px;
  height: 9px;
}

.block-header__title {
  color: #dcca87;
  letter-spacing: 3.6px;
  line-height: 1.3;
}

.block-header_main {
  justify-items: stretch;
}

.scroll {
  color: #dcca87;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 24px;
}

.scroll::before {
  content: "";
  width: 1px;
  height: 61px;
  background: rgb(220, 202, 135);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(220, 202, 135)), color-stop(43%, rgb(220, 202, 135)), color-stop(92.7%, rgba(220, 202, 135, 0.24)));
  background: linear-gradient(rgb(220, 202, 135) 0%, rgb(220, 202, 135) 43%, rgba(220, 202, 135, 0.24) 92.7%);
}

[class*=__text] {
  line-height: 1.75;
  letter-spacing: 0.64px;
}

.header {
  color: #fff;
  padding: 0.625rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__auth {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.menu__link {
  line-height: 1.75;
  letter-spacing: 0.64px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.auth-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth-header__link {
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

footer {
  position: relative;
  z-index: 2;
}

.main-slider {
  background-color: #0c0b08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider__container_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  position: relative;
}

.main-slider__scroll {
  position: absolute;
  bottom: 0;
  right: 0.9375rem;
}

.body-main-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-main-slider__wrapper {
  padding-top: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body-main-slider__slide {
  height: 100%;
}

.body-main-slider__pagination {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

.body-main-slider__pagination .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  -webkit-transition: gap 0.3s ease 0s;
  transition: gap 0.3s ease 0s;
}

.body-main-slider__pagination .swiper-pagination-bullet::after {
  content: "";
  background-color: #dcca87;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 1px;
  width: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0px;
}

.body-main-slider__pagination .swiper-pagination-bullet-active {
  gap: 8px;
}

.body-main-slider__pagination .swiper-pagination-bullet-active:not(:last-child)::after {
  content: "";
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}

.slide-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.slide-body__content {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  padding-right: 40px;
  max-width: 30.9375rem;
  gap: 32px;
}

.slide-body__button {
  -ms-grid-column-align: start;
      justify-self: start;
}

.slide-body__image-ibg {
  margin-right: 3.6923076923%;
  min-height: 300px;
  max-height: 688px;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slide-body__image-ibg img {
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-body__image-ibg::before,
.slide-body__image-ibg::after {
  content: "";
  position: absolute;
  width: 70.2746365105%;
  height: 63.226744186%;
  background-color: #dcca87;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-body__image-ibg::after {
  bottom: -24px;
  left: -24px;
}

.slide-body__image-ibg::before {
  top: -24px;
  right: -24px;
}

.menu-main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  position: absolute;
  left: 0.9375rem;
  top: 0;
}

.menu-main-slider__link {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: 0.72px;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.menu-main-slider__link_current {
  color: #dcca87;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 71.25em) {
  .auth-header__item:not(:last-child) {
    position: relative;
  }

  .auth-header__item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -65%;
    height: 57px;
    width: 2px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%272%27 height=%2757%27 viewBox=%270 0 2 57%27 fill=%27none%27%3e%3cpath d=%27M1 0C1 22.2599 1 34.7401 1 57%27 stroke=%27url%28%23paint0_radial_572_127%29%27/%3e%3cdefs%3e%3cradialGradient id=%27paint0_radial_572_127%27 cx=%270%27 cy=%270%27 r=%271%27 gradientUnits=%27userSpaceOnUse%27 gradientTransform=%27translate%281.5 28.5%29 rotate%2890%29 scale%2828.5 0.5%29%27%3e%3cstop offset=%270.588542%27 stop-color=%27white%27/%3e%3cstop offset=%271%27 stop-color=%27white%27 stop-opacity=%270%27/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  }
}

@media (min-width: 71.25em) and (min-width: 83.125em) {
  .auth-header__item:not(:last-child)::before {
    right: -3.125rem;
  }
}

@media (min-width: 83.125em) {
  .block-header__label {
    font-size: 1.4375rem;
  }

  .block-header__title {
    font-size: 4rem;
  }

  .block-header_main .block-header__title {
    font-size: 5.625rem;
  }

  .header__container {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .header__container {
    min-height: 6.25rem;
  }

  .header__logo {
    -ms-flex-preferred-size: 25rem;
        flex-basis: 25rem;
  }

  .header__auth {
    -ms-flex-preferred-size: 25rem;
        flex-basis: 25rem;
  }

  .menu__list {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .auth-header {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .main-slider {
    padding-top: 9.125rem;
  }

  .main-slider {
    padding-bottom: 4.375rem;
  }

  .body-main-slider__pagination {
    padding-top: 5.5rem;
  }
}

@media (min-width: 88.125em) {
  .menu-main-slider {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-main-slider__link {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (max-width: 48em) {
  .header__logo {
    font-size: 2.1875rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .auth-header {
    -webkit-column-gap: 2.8125rem;
       -moz-column-gap: 2.8125rem;
            column-gap: 2.8125rem;
  }
}

@media (max-width: 20em) {
  .block-header__label {
    font-size: 1.4375rem;
  }

  .block-header__title {
    font-size: 4rem;
  }

  .block-header_main .block-header__title {
    font-size: 5.625rem;
  }

  .header__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .header__container {
    min-height: 3.125rem;
  }

  .main-slider {
    padding-top: 6rem;
  }

  .main-slider {
    padding-bottom: 4.375rem;
  }

  .body-main-slider__pagination {
    padding-top: 5.5rem;
  }
}

@media (max-width: 71.25em) {
  .auth-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background-color: #0c0b08;
    padding-bottom: 1.875rem;
    padding: 0 0.9375rem;
    overflow: auto;
  }

  .menu__body > :not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    left: 0;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .auth-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 1.40625rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    height: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .auth-header__link {
    font-size: 1.5625rem;
  }
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
    .block-header__label {
      font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 1.4375rem  +  0vw , 1.4375rem )) {
    .block-header__label {
      font-size: calc(1.4375rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
    .block-header__title {
      font-size: clamp( 4rem , 4rem  +  0vw , 4rem );
    }
}

@supports not (font-size: clamp( 4rem , 4rem  +  0vw , 4rem )) {
    .block-header__title {
      font-size: calc(4rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem )) {
    .block-header_main .block-header__title {
      font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem );
    }
}

@supports not (font-size: clamp( 5.625rem , 5.625rem  +  0vw , 5.625rem )) {
    .block-header_main .block-header__title {
      font-size: calc(5.625rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem )) or (column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem );
         -moz-column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem );
              column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem )) or (column-gap: clamp( 0.9375rem , 0.6008663366rem  +  1.6831683168vw , 2rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.125);
         -moz-column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.125);
              column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.125);
    }
}

@supports (min-height: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem )) {
    .header__container {
      min-height: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem )) {
    .header__container {
      min-height: calc(3.125rem + 3.125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-top: clamp( 6rem , 5.0099009901rem  +  4.9504950495vw , 9.125rem )) {
    .main-slider {
      padding-top: clamp( 6rem , 5.0099009901rem  +  4.9504950495vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 6rem , 5.0099009901rem  +  4.9504950495vw , 9.125rem )) {
    .main-slider {
      padding-top: calc(6rem + 3.125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
    .main-slider {
      padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 4.375rem  +  0vw , 4.375rem )) {
    .main-slider {
      padding-bottom: calc(4.375rem + 0 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem )) {
    .body-main-slider__pagination {
      padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 5.5rem , 5.5rem  +  0vw , 5.5rem )) {
    .body-main-slider__pagination {
      padding-top: calc(5.5rem + 0 * (100vw - 20rem) / 63.125);
    }
}
}

@media (min-width: 48em) and (max-width: 83.125em) {
@supports (flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem )) {
    .header__logo {
      -ms-flex-preferred-size: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem );
          flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem );
    }
}

@supports not (flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem )) {
    .header__logo {
      -ms-flex-preferred-size: calc(9.6875rem + 15.3125 * (100vw - 48rem) / 35.125);
          flex-basis: calc(9.6875rem + 15.3125 * (100vw - 48rem) / 35.125);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.418816726rem  +  1.6014234875vw , 2.75rem )) {
    .header__logo {
      font-size: calc(2.1875rem + 0.5625 * (100vw - 48rem) / 35.125);
    }
}

@supports (flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem )) {
    .header__auth {
      -ms-flex-preferred-size: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem );
          flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem );
    }
}

@supports not (flex-basis: clamp( 9.6875rem , -11.2377669039rem  +  43.5943060498vw , 25rem )) {
    .header__auth {
      -ms-flex-preferred-size: calc(9.6875rem + 15.3125 * (100vw - 48rem) / 35.125);
          flex-basis: calc(9.6875rem + 15.3125 * (100vw - 48rem) / 35.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
         -moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
              column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem )) or (column-gap: clamp( 0.9375rem , -0.5144572954rem  +  3.024911032vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
         -moz-column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
              column-gap: calc(0.9375rem + 1.0625 * (100vw - 48rem) / 35.125);
    }
}

@supports ((-moz-column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem )) or (column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem ))) {
    .auth-header {
      -webkit-column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem );
         -moz-column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem );
              column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem )) or (column-gap: clamp( 2.8125rem , -1.8850088968rem  +  9.7864768683vw , 6.25rem ))) {
    .auth-header {
      -webkit-column-gap: calc(2.8125rem + 3.4375 * (100vw - 48rem) / 35.125);
         -moz-column-gap: calc(2.8125rem + 3.4375 * (100vw - 48rem) / 35.125);
              column-gap: calc(2.8125rem + 3.4375 * (100vw - 48rem) / 35.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 83.125em) {
  .menu__body {
    padding-top: 9.375rem;
  }

  .menu__body::before {
    height: 7.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 83.125em) {
@supports (padding-top: clamp( 6.25rem , 5.2599009901rem  +  4.9504950495vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 5.2599009901rem  +  4.9504950495vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.2599009901rem  +  4.9504950495vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 63.125);
    }
}

@supports (height: clamp( 4.375rem , 3.3849009901rem  +  4.9504950495vw , 7.5rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 3.3849009901rem  +  4.9504950495vw , 7.5rem );
    }
}

@supports not (height: clamp( 4.375rem , 3.3849009901rem  +  4.9504950495vw , 7.5rem )) {
    .menu__body::before {
      height: calc(4.375rem + 3.125 * (100vw - 20rem) / 63.125);
    }
}
}

@media (min-width: 71.25em) and (min-width: 48em) and (max-width: 83.125em) {
@supports (right: clamp( -3.125rem , 0.9425044484rem  +  -4.8932384342vw , -1.40625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: clamp( -3.125rem , 0.9425044484rem  +  -4.8932384342vw , -1.40625rem );
    }
}

@supports not (right: clamp( -3.125rem , 0.9425044484rem  +  -4.8932384342vw , -1.40625rem )) {
    .auth-header__item:not(:last-child)::before {
      right: calc(-1.40625rem + -1.71875 * (100vw - 48rem) / 35.125);
    }
}
}

@media (min-width: 71.25em) and (max-width: 48em) {
  .auth-header__item:not(:last-child)::before {
    right: -1.40625rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #614c00;
  }

  .menu__link:hover {
    color: #dcca87;
  }

  .auth-header__link:hover {
    color: #dcca87;
  }

  .slide-body__image-ibg:hover img {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }

  .slide-body__image-ibg:hover::after {
    bottom: -12px;
    left: -12px;
  }

  .slide-body__image-ibg:hover::before {
    top: -12px;
    right: -12px;
  }

  .menu-main-slider__link:hover {
    color: #dcca87;
  }
}

.webp .main-bg{ background: url(../img/main-bg.webp) 0 0 no-repeat; }