[data-bg] {
  overflow: hidden;
  position: relative;
}
.bg-item {
  background: url("@img/main-bg.jpg") center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 220%;
  top: -60%;
  left: 0;
}
