//====================================================================================================
.mainpage {
  @extend %smoothscroll;
  &__slider {
    @include adaptiveValue("padding-top", 146, 80);
    @include adaptiveValue("padding-bottom", 70, 30);
  }
  &__body {
    position: relative;
    &::before,
    &::after {
      content: "";
      top: 0;
      height: 14908px;
      position: absolute;
      z-index: -1;
      right: 50%;
      width: 1920px;
      transform: translate(50%, -35px);
      background: url("@img/icons/wave-element.svg") 0 0 / 100% no-repeat;
    }
  }
  &__about {
    @include adaptiveValue("padding-top", 128, 30);
    @include adaptiveValue("padding-bottom", 128, 30);
  }
  &__book {
    @include adaptiveValue("padding-top", 155, 0);
    @include adaptiveValue("padding-bottom", 155, 0);
  }
  &__menu-block {
    @include adaptiveValue("padding-top", 260, 30);
    @include adaptiveValue("padding-bottom", 260, 30);
  }
  &__special {
    @include adaptiveValue("padding-top", 150, 30);
    @include adaptiveValue("padding-bottom", 150, 30);
  }
  &__chef {
    @include adaptiveValue("padding-top", 128, 0);
    @include adaptiveValue("padding-bottom", 128, 30);
  }
  &__gallery {
    @include adaptiveValue("padding-top", 128, 30);
    @include adaptiveValue("padding-bottom", 128, 30);
  }
}

@media (max-width: $tablet) {
  .touch .main-slider[data-fullscreen] {
    min-height: 0;
  }
}

.main-slider {
  display: flex;
  &__container {
    &:not(.main-slider__container_wide) {
      padding: 0;
    }
    &_wide {
      flex: 1 1 auto;
      min-width: 0;
      position: relative;
    }
  }
  &__menu {
  }
  &__scroll {
    @media (min-width: em(1440)) {
      position: absolute;
      bottom: 0;
      right: rem(15);
    }
    @media (max-width: em(1440)) {
      display: block;
      padding-top: rem(15);
      &::before {
        display: none;
      }
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
.body-main-slider {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__wrapper {
    padding-top: 24px;
    flex: 1 1 auto;
  }
  &__slide {
    @media (min-width: $tablet) {
      height: 100%;
    }
    @media (max-width: em(1440)) {
      @include adaptiveValue("padding-bottom", 30, 15);
      @include adaptiveValue("padding-top", 30, 15);
    }
  }
  &__pagination {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem(88);
    @media (max-width: em(1440)) {
      @include adaptiveValue("padding-top", 30, 5);
    }
    color: $secondaryLight;
    font-variant-numeric: lining-nums tabular-nums;
    @extend %cor;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    .swiper-pagination-bullet {
      display: flex;
      align-items: center;
      gap: 0px;
      transition: gap 0.3s ease 0s;
      &::after {
        content: "";
        background-color: $secondaryColor;
        transition: all 0.3s ease 0s;
        height: 1px;
        width: 0px;
        flex: 0 0 0px;
      }
    }
    .swiper-pagination-bullet-active {
      gap: 8px;
      &:not(:last-child) {
        &::after {
          content: "";
          width: 16px;
          flex: 0 0 16px;
        }
      }
    }
  }
}
.slide-body {
  display: grid;
  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__content {
    align-self: center;
    display: grid;
    @include adaptiveValue("gap", 32, 10);
    @media (min-width: $tablet) {
      max-width: rem(495);
      padding-right: 40px;
    }
    @media (max-width: $tablet) {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 50, 30);
      }
    }
  }
  &__header {
  }
  &__text {
    @media (max-width: $mobile) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
  &__button {
    @media (min-width: $mobileSmall) {
      justify-self: start;
    }
  }
  &__image-ibg {
    align-self: center;
    margin: 0 percent(24, 650);
    @media (min-width: $tablet) {
      height: 100%;
      min-height: 300px;
      max-height: 688px;
      margin-right: percent(24, 650);
      margin-left: 0;
    }
    @media (max-width: $tablet) {
      padding-bottom: percent(618, 688);
    }
    img {
      z-index: 2;
      transition: all 0.3s ease 0s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: percent(435, 640);
      height: percent(435, 688);
      background-color: $secondaryColor;
      transition: all 0.3s ease 0s;
    }
    &::after {
      bottom: percent(-24, 688);
      left: percent(-24, 640);
    }
    &::before {
      top: percent(-24, 688);
      right: percent(-24, 640);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(0.95);
        }
        &::after {
          transform: scale(0.92);
        }
        &::before {
          transform: scale(0.92);
        }
      }
    }
  }
}
.menu-main-slider {
  display: flex;
  gap: rem(40);
  position: absolute;
  left: rem(15);
  top: 0;
  @media (min-width: em(1440)) {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__link {
    color: $secondaryLight;
    font-size: rem(18);
    line-height: 1.75;
    letter-spacing: 0.72px;
    transition: color 0.2s ease 0s;
    @media (min-width: em(1440)) {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
    }
    &_current {
      color: $secondaryColor;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

//====================================================================================================
.about-section__content {
  @media (max-width: $mobile) {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
.about-section {
  &__container {
    position: relative;
    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      & > :first-child {
        text-align: right;
        .about-section__icon {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &__title {
    @extend %cor;
    text-transform: capitalize;
    font-weight: 700;
    color: $secondaryColor;
    @include adaptiveValue("font-size", 64, 35);
    letter-spacing: 3.6px;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__icon {
    fill: $secondaryColor;
    width: 40px;
    height: 9px;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }
  &__text {
    @media (min-width: $mobile) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }
  &__button {
  }
  &__knife {
    flex: 0 0 percent(195, 1330);
    text-align: center;
    padding: 0 rem(30);

    img {
      transition: all 0.3s ease 0s;
      max-width: 100%;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(0.9);
        }
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__g {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: percent(391, 1330);
    @include adaptiveValue("width", 391, 170);
    height: percent(415, 703);
    fill: #272727;
    z-index: -1;
  }
}

//====================================================================================================

.book {
  &__container {
    @media (max-width: $mobileSmall) {
      padding: 0;
    }
    &_wide {
      position: relative;
      &[data-decor] {
        &::before {
          content: "";
          position: absolute;
          top: rem(-176);
          right: rem(20);
        }
      }
    }
  }
  &__body {
    @media (min-width: em(1390)) {
      margin: 0 rem(-32);
    }
    @include adaptiveValue("padding-left", 32, 20);
    @include adaptiveValue("padding-right", 32, 20);
    @include adaptiveValue("padding-top", 48, 20);
    @include adaptiveValue("padding-bottom", 48, 20);
    border: 1px solid rgba(220, 202, 135, 0.2);
    background: var(--0C0C0C, #0c0c0c);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  }
  &__header {
  }
  &__form {
    text-align: center;
  }
}

.form-book {
  &__lines {
    @include adaptiveValue("padding-top", 64, 10);
    @include adaptiveValue("padding-bottom", 64, 20);
    display: grid;
    column-gap: 32px;
    @include adaptiveValue("row-gap", 32, 25);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__line {
  }
  &__button {
  }
  &__input {
    height: rem(60);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url("@img/icons/select.svg") 50% no-repeat;
      height: 24px;
      width: 24px;
      right: 16px;
      top: 50%;
      cursor: pointer;
      transform: translate(0, -50%);
      transition: all 0.3s ease 0s;
    }
    &._form-focus {
      &::after {
        transform: translate(0, -50%) rotate(-180deg);
      }
    }
    .form__error {
      position: absolute;
      @include adaptiveValue("bottom", -20, -18);
      color: red;
      font-size: rem(15);
    }
  }
}

//====================================================================================================

.menu-block {
  background: url("@img/mainpage/menu/menu-bg.jpg") center / cover no-repeat;
  &__container {
    &_wide {
      &[data-decor] {
        &::before {
          content: "";
          position: absolute;
          top: rem(-240);
          left: 0;
        }
      }
    }
  }
  &__menu {
  }
  &__list {
    display: grid;
    @include adaptiveValue("gap", 64, 30);
    @media (max-width: $mobile) {
      justify-content: center;
      text-align: center;
    }
  }
  &__item {
  }
  &__link {
    color: $secondaryLight;
    @extend %cor;
    @include adaptiveValue("font-size", 64, 30);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1.92px;
    text-transform: capitalize;
    border-bottom: 1px solid;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        border-bottom: 2px solid transparent;
      }
    }
  }
}

//====================================================================================================

.special {
  &__container {
    display: grid;
    @include adaptiveValue("gap", 64, 20);
  }
  &__header {
  }
  &__body {
    display: grid;
    @include adaptiveValue("gap", 32, 20, 20, 886, 320);
    @media (min-width: em(886)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $pc) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__table {
  }
  &__image {
    img {
      max-width: 100%;
    }
    @media (max-width: $pc) {
      display: none;
    }
  }
  &__button {
    justify-self: center;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
.table-special {
  @media (min-width: $pc) {
    padding-top: rem(32);
  }
  text-transform: capitalize;
  &__title {
    @extend %cor;
    color: $secondaryLight;
    @include adaptiveValue("font-size", 45, 30);
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1.8px;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }
  &__body {
    display: grid;
    @include adaptiveValue("gap", 40, 20);
  }
  &__item {
    display: grid;
    gap: 8px;
  }
  &__header {
    line-height: 1.3;
    letter-spacing: 0.92px;
    font-size: rem(23);
    font-weight: 700;
    @extend %cor;

    display: grid;
    grid-template-columns: 1fr 69px;
    justify-content: space-between;

    @media (min-width: $mobileSmall) {
      grid-template-columns: 224px 69px;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 14.5px;
        left: 0;
        background-color: $secondaryLight;
      }
    }
    > * {
      position: relative;
      z-index: 2;
    }
  }
  &__value {
    color: $secondaryColor;
    background-color: $bgColor;
    padding-right: 10px;
  }
  &__price {
    text-align: right;
    color: $secondaryLight;
    font-variant-numeric: lining-nums tabular-nums;
    background-color: $bgColor;
    padding-left: 10px;
  }
  &__info {
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
  }
}

//====================================================================================================

.chef {
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    @include adaptiveValue("gap", 80, 30);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__image {
    @media (max-width: $tablet) {
      text-align: center;
    }
    img {
      max-width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 64, 20);
  }
  &__header {
    justify-items: stretch;
  }
  &__text {
    font-style: italic;
  }
  &__icon {
    fill: #fff;
    width: 47px;
    height: 40px;
  }
  &__info {
  }
  &__signature {
    fill: $mainColor;
    height: rem(83);
    width: rem(235);
  }
}
.block-header {
  &__label {
  }
  &__icon {
  }
  &__title {
  }
}
.info-chef {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__name {
    color: $secondaryColor;
    @extend %cor;
    font-size: rem(32);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1.28px;
    text-transform: capitalize;
  }
  &__post {
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
  }
}
//====================================================================================================
.video-module {
  position: relative;
  padding-bottom: percent(763, 1920);
  &__icon {
    position: absolute;
    cursor: pointer;
    @include adaptiveValue("width", 120, 70);
    @include adaptiveValue("height", 120, 70);
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
  &._active {
    .video-module__icon {
      display: none;
    }
    .video-module__item {
      filter: grayscale(0);
    }
  }
  &__item {
    @extend %grayfilter;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
//====================================================================================================
.gallery {
  &__container {
    display: grid;
    align-items: center;
    row-gap: 30px;
    @media (min-width: $tablet) {
      column-gap: 64px;
      grid-template-columns: rem(490) 1fr;
    }
  }
  &__content {
    display: grid;
    @include adaptiveValue("gap", 24, 20);
  }
  &__header {
    justify-items: stretch;
  }
  &__text {
  }
  &__button {
    justify-self: start;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  &__body {
    min-width: 0;
  }
  &__slider {
  }
  &__wrapper {
  }
  &__slide-ibg {
    position: relative;
    flex: 0 0 301px;
    width: 301px;
    height: 447px;
    border: 2px solid rgba(220, 202, 135, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      transition: all 0.3s ease 0s;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background: linear-gradient(208deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
      opacity: 0;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
        }
        .gallery__icon {
          opacity: 1;
        }
      }
    }
    @media (max-width: $mobileSmall) {
      flex: 0 0 250px;
      width: 250px;
      height: 370px;
    }
  }
  &__icon {
    fill: $secondaryLight;
    width: 43.33px;
    height: 43.33px;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 6;
    opacity: 0;
  }
}

//====================================================================================================
